@media screen and (max-width: 360px) {
    /* Global */
    body {
        width: 360px;
    }
    .container-wide, 
    .container-narrow, 
    .container-tiny {
        width: 330px;
    }

    /* sec-banner and sec-players */
    .banner-text, 
    .banner-image {
        width: 100%;
    }
    .banner-text h1 {
        font-size: 36px;
    }
    .banner, 
    .players {
        grid-template-columns: 1fr;
    }
    .banner {
        gap: 30px;
    }

    /* sec-hilights */
    .highlights {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 35px;
    }
    .highlights-text h1 {
        font-size: 30px;
    }

    /* sec-supporters */
    .supporters {
        grid-template-columns: 1fr;
    }
    .supporters-image {
        order: 2;
    }
    .supporters-call {
        order: 1;
    }
    .supporters-call .image-holder {
        left: 80px;
    }

    /* sec-sponsors */
    .sec-sponsors h1 {
        font-size: 22px;
    }
    .sponsors {
        grid-template-columns: 1fr;
    }
    .sponsors svg {
        width: 50%;
        height: auto;
    }
}