@media screen and (max-width: 360px) {
    body {
        width: 360px;
    }
    .container-wide, 
    .container-narrow, 
    .container-tiny {
        width: 330px;
    }

    .banner-text, .banner-image {
        width: 100%;
    }
    .banner, .players {
        grid-template-columns: 1fr;
    }
    .banner {
        gap: 30px;
    }
}