/* ----------------------------
        Google Fonts
----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@400;700&display=swap');
/* font-family: 'Niconne', cursive;
font-family: 'Poppins', sans-serif; */

/* ----------------------------
         Custom property
----------------------------- */
:root {
    --body-bg-color: teal;
    --banner-bg-color: blue;
    --highlights-bg-color: whitesmoke;
    --btn-color: orangered;
    --footer-bg-color: white;
}

/* ------------------------
         Global styles
-------------------------- */
* {
    margin: 0;
    padding: 0;
}
body {
    width: 1440px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
}
.container-wide {
    width: 1130px;
}
.container-narrow {
    width: 1050px;
}
.container-tiny {
    width: 485px;
    border: 1px solid red;
}
.container-wide,
.container-narrow,
.container-tiny {
    margin: auto;
}
.grid-mother {
    display: grid;
}
.flex-mother {
    display: flex;
}
.btn-link {
    display: inline-block;
    text-decoration: none;
    background-color: var(--btn-color);
    color: whitesmoke;
    margin-top: 30px;
    padding: 10px 30px;
}
p {
    font-weight: 400;
}
/* ------------------------------
         sec-banner style
------------------------------- */
.sec-banner {
    background-color: var(--banner-bg-color);
    padding: 80px 0;
}
.banner {
    width: 100%;
    /* padding: 60px; */
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    /* border: 1px dotted red; */
}
.banner-text {
    color: white;
}
.banner-text h1 {
    font-size: 64px;
    font-weight: 700;
}
.banner-image img {
    width: 100%;
    border-radius: 2px;
}

/* --------------------------------
         sec-players style
--------------------------------- */
.players {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 80px 0;
    /* border: 1px dashed white; */
}
.player {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    /* box-shadow: 5px 5px 15px lightgray; */
}
.player img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

/* ------------------------------
         sec-highlights style
------------------------------- */
.sec-highlights {
    background-color: var(--highlights-bg-color);
    padding: 80px 0;
}
.highlights {
    width: 100%;
    /* padding: 60px; */
    grid-template-columns: repeat(2, 1fr);
    color: #0A0826;
    gap: 90px;
    /* border: 1px dotted red; */
}
.highlights-text h1 {
    font-size: 48px;
    font-weight: 700;
}
.highlights-image img {
    width: 100%;
    border-radius: 2px;
}

/* -------------------------------
       sec-supporters style
-------------------------------- */
.sec-supporters {
    background-color: white;
    padding: 80px 0;
}
.supporters {
    grid-template-columns: 3fr 1fr;
}
.supporters-image img {
    width: 100%;
    height: auto;
}
.supporters-call {
    text-align: center;
}
.supporters-call .image-holder {
    width: 120px;
    overflow: hidden;
    position: relative;
    left: 70px;
}
.supporters-call .image-holder img {
    width: 230%;
    height: auto;
}
.supporters-call h1 {
    font-size: 26px;
    font-weight: 700;
    color: black;
}

/* ----------------------------
          Footer style
----------------------------- */
footer {
    background-color: var(--footer-bg-color);
}
footer .container-tiny {
    text-align: center;
}
footer .logo img {
    width: 90%;
    height: auto;
}
footer .social i {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 1.2em;
    background-color: lightgray;
    padding: 10px 5px 0;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}